body{
  background-color: #ADD8E6;
}

h2{
  text-align: center;
  margin-top: 12%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin-top: 50px;
}

.game-buttons {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

button img {
  width: 150px;
}

.reset-btn {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


